.form-title{
    margin-top:20px;
    margin-bottom: 20px;
    text-transform: none !important;
}
small{
    font-size: 14px !important;
}
.page-content{
    background-color: white;
}
.add-btn{
    margin: 10px 10px 10px 10px;
    border-bottom: 2px inset;
}
table th tr td{
    font-family: inherit;
    font-size: 13px;
}
form{
    margin-top: 10px
}

td.details-control {
    text-align: center;
    position: relative;
}
td.details-control i {
    position: absolute;
    top: 0%;
    /*transition: all .3s;*/
}
tr.shown td.details-control.loading-td {
    background: none !important;
}
tr.shown td.details-control.loading-td i {
    opacity: 1;
}

td.details-control {
      background: url('details_open.png') no-repeat center center;
      cursor: pointer;
  }
tr.shown td.details-control {
      background: url('details_close.png') no-repeat center center;
  }

.text-title{
  padding-top: 12px !important;
  padding-left: 10px;
  font-weight: bold;
  color: white;
}

.table{
  font-size:12px !important;
}

.form-control{
    display: block;
    width: 100%;
    height: 30px;
    padding: 3px 3px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}

.form-group {
    margin-bottom: 5px;
}

.form-horizontal .control-label {
    margin-right: -20px;
}

.panel-title{
  background-color: #efb803;
  color: white;
  font-weight: bold;
}

.panel-group{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px !important;
}

.title-counter{
  font-size:14px !important;
}

.nav-tabs {
  background-color: #EEE;
}
.nav-tabs li a{
  background-color: #00008a;
  color: white;
}

li .active{
  color: black !important;
  background-color: #efb803 !important;
}

#header .header-nav-main nav > ul > li.dropdown .dropdown-menu li a {
    border-bottom: 1px solid #f4f4f4;
    color: #00008b !important;
    font-size: 0.9em;
    font-weight: 400;
    padding: 8px 20px 8px 8px;
    position: relative;
    text-transform: none;
}

input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
    cursor: pointer;
}
